@layer layout {
  .container {
    width: 100%;
    max-width: var(--max-width-xl);
    margin-inline: auto;
    padding-inline: var(--space-4);
    background-color: green;
    @media (--tablet) {
      padding-inline: var(--space-6);
    }
    @media (--desktop) {
      padding-inline: var(--space-8);
    }
  }
}
